// CSS3

@mixin keyframes( $name ) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @-o-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

@mixin animation( $args... ) {
  @include experimental(animation, $args);
}

@mixin user-select( $args ) {
  @include experimental(user-select, $args);
}

@mixin image-set( $args... ) {
  background-image: -webkit-image-set($args);
  background-image: image-set($args);
}



// Enhancement

@mixin linear-gradient( $from, $to ) {
  @include filter-gradient($from, $to);
  @include background-image(linear-gradient($from, $to));
}

@mixin supports( $prop_name, $prop_val ) {
  @supports ($prop_name: $prop_val) or
            (-o-#{$prop_name}: $prop_val) or
            (-ms-#{$prop_name}: $prop_val) or
            (-moz-#{$prop_name}: $prop_val) or
            (-webkit-#{$prop_name}: $prop_val) {
    @content;
  }
}



// Overwrite

@mixin opacity( $opacity ) {
  opacity: $opacity;
}
